/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1 {
    background-color: teal;
}
#box2{
    background-color: gold;

}
#box3{
    background-color:cadetblue;

}
#box4{
    background-color:coral;

}
#box5{
    background-color:crimson;

}
#box6{
    background-color:forestgreen;

}
#box7{
    background-color:darkorchid;

}
#box8{
    background-color:hotpink;

}
#box9{
    background-color:indigo;

}
#box10{
    background-color: gold;

}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

